* {
	margin: 0;
	padding: 0;
}
.container {
	background-image: url(images/login.jpg)
}
.login {
	width: 250px;
	height: auto;
	border: 1px solid #ccc;
	background-color: #fff;
}
.login h4 {
	height: auto;
	padding-left: 80px;
	background: url(images/loginimg.jpg) 10px 0 no-repeat;
}
.login form {
	font-size: 12px;
	text-align: center;
}
.col-md-4 {
	padding-left: 50px;
	padding-right: 5px;
}
