* {
	margin: 0;
	padding: 0;
}
.download img {
	width: 80px;
	height: 80px;
	display: inline-block;
}
.download ul li {
	display: inline-block;
}
.download li div {
	display: none;
}
.download li label {
	cursor: pointer;
}
.download li input[checked]~div {
	display: block;
}