* {
	margin: 0;
	padding: 0;
}
.upload table img {
	width: 80px;
	height: 80px;
	display: inline-block;
}
.upload ul li {
	display: inline-block;
}
.upload input {
	/*display: none;*/
}
.upload li div {
	display: none;
}
.upload li label {
	cursor: pointer;
}
.upload li input[checked]~div {
	display: block;
}