.link {
	font-family: "Microsoft Yahei",tahoma,HELVETICA;
	font-size: 18px;
	/*width: 650px;*/
}
/*下载按钮*/
.link .btn {
	display: inline-block;
	font-size: 18px;
	border: none;
	background-color: #137bdf;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	margin: 10px auto 30px;
	padding: 10px 60px;
	text-decoration: none;
	line-height: 1;
}
.link .btn:hover {
	color: #137bdf;
	border: 1px solid #137bdf;
	background-color: transparent;
	transition: all 1s;
}
.link h3 {
	font-size: 160%;
	padding: 16px;
	border-bottom: 2px #eee solid;
	margin-bottom: 30px;
	text-align: center;
}
.link img {
	width: 180px;
	height: 180px;
}
.link .col-md-6 p {
	padding: 6px;
}
.link .col-md-6:first-child {
	padding-left: 35px;
}
.link .detail h4 {
	background-color: #137bdf;
	padding: 8px 0 8px 16px;
	color: #fff;
	border-radius: 3px;
}
.detail p {
	text-indent: 40px;
	line-height: 1.6;
}
